extends ../layout/index.pug

block contenido
    section(class="py-10")
        //- h1(class="text-center text-2xl font-extrabold")=pagina //2 formas
        h1(class="text-center text-2xl font-bold ") Bienes
            span(class="font-normal") Raices 
        h2(class="text-center text-2xl font-extrabold mt-2")=`${pagina}`

        p(class='text-xl font-bold text-center my-10') #{mensaje}